<!-- <p>{{userForm.valid| json}}</p> -->


<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label for="">Tên users</label>
        <input type="text" class="form-control" name="name" ngModel required minlength="6" #name="ngModel">
        <app-compoentvalidates [field]="name" key="Tên"></app-compoentvalidates>
        <!-- <span>{{name.dirty| json}}</span>  -->
        <!-- chỉ có 1 lần là true -->
        
  
    </div>
    <div class="form-group">
        <label for="">Tuổi users</label>
        <input type="number" class="form-control" name="age" ngModel required min="1" max="100" #age="ngModel">
        <app-compoentvalidates [field]="age" key="Tuổi"></app-compoentvalidates>
       
    </div>


    <div class="form-group">
        <label for="">Email users</label>
        <input type="email" class="form-control" name="email" ngModel required email #email="ngModel">
        <app-compoentvalidates [field]="email" key="Email"></app-compoentvalidates>
       
    </div>
    <div>
        <button class="btn btn-success"  [disabled]="!userForm.valid">Submit</button>
    </div>
</form>

