<div>
    <a href="/admin/products/create">
        <button class="btn btn-primary">Thêm mới</button>
    </a>
</div>
<table class="table ">
   <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Acition</th>
        </tr>
   </thead>
   <tbody>
       <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>
               <a routerLink="/admin/products/{{product.id}}">Detail</a> 
             </td>
             <td>
                <button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button> 

             </td>
       </tr>
   </tbody>
</table>